In [1]:
#Importamos librerias 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.style as sty

%matplotlib inline

In [3]:
#Carga y lectura de archivos
path_games_details = "archivos/games_details.csv"
arc_games_details = pd.read_csv(path_games_details)

In [4]:
path_games = "archivos/games.csv"
arc_games = pd.read_csv(path_games)

In [5]:
#Copia a archivos para trabajar en duplicado
arc_games_details_copia = arc_games_details.copy()
arc_games_copia = arc_games.copy()

In [43]:
#Hacemos el merge entre los archivos que vamos a usar
merge_games_gamesdetails = arc_games_details_copia.merge(arc_games_copia, on = ['GAME_ID'])

In [48]:
#Filtramos el dataset de games_details para quedarnos solo con los datos de SAS. Lo guardamos en un nuevo dataset
df_SAS = arc_games_copia.loc[(arc_games_copia ["HOME_TEAM_ID"] == 1610612759) | (arc_games_copia ["VISITOR_TEAM_ID"] == 1610612759)]

In [49]:
df_SAS

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
13,2021-11-16,22100212,Final,1610612746,1610612759,2021,1610612746,106.0,0.435,0.909,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
25,2021-11-14,22100192,Final,1610612747,1610612759,2021,1610612747,114.0,0.518,0.765,...,28.0,46.0,1610612759,106.0,0.444,0.667,0.444,28.0,43.0,1
46,2021-11-12,22100181,Final,1610612759,1610612742,2021,1610612759,109.0,0.488,0.700,...,30.0,41.0,1610612742,123.0,0.460,0.684,0.400,30.0,48.0,0
61,2021-11-10,22100166,Final,1610612759,1610612758,2021,1610612759,136.0,0.533,0.645,...,34.0,43.0,1610612758,117.0,0.516,0.813,0.278,20.0,44.0,1
82,2021-11-07,22100144,Final,1610612760,1610612759,2021,1610612760,99.0,0.372,0.850,...,21.0,57.0,1610612759,94.0,0.410,0.667,0.200,29.0,46.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24921,2014-10-24,11400113,Final,1610612745,1610612759,2014,1610612745,96.0,0.422,0.647,...,16.0,46.0,1610612759,87.0,0.406,0.793,0.308,24.0,38.0,1
24934,2014-10-22,11400105,Final,1610612759,1610612737,2014,1610612759,107.0,0.532,0.818,...,25.0,38.0,1610612737,117.0,0.519,0.735,0.480,29.0,34.0,0
24949,2014-10-20,11400091,Final,1610612759,1610612758,2014,1610612759,106.0,0.468,0.889,...,24.0,36.0,1610612758,99.0,0.507,0.778,0.125,19.0,39.0,1
24958,2014-10-18,11400078,Final,1610612759,1610612748,2014,1610612759,108.0,0.413,0.833,...,27.0,50.0,1610612748,111.0,0.455,0.723,0.318,20.0,37.0,0
24971,2014-10-16,11400062,Final,1610612756,1610612759,2014,1610612756,121.0,0.556,0.625,...,27.0,36.0,1610612759,90.0,0.444,0.677,0.263,20.0,41.0,1

In [46]:
#Filtramos el dataset de games_details para quedarnos solo con los datos de Manu Ginobili. Lo guardamos en un nuevo dataset
df_manu = merge_games_gamesdetails.loc[merge_games_gamesdetails["PLAYER_NAME"] == "Manu Ginobili"]

In [47]:
df_manu

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
69945,20801142,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,22:36,...,16.0,44.0,1610612759,81.0,0.392,0.789,0.250,14.0,34.0,1
70304,20801126,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,36:07,...,19.0,37.0,1610612759,126.0,0.549,0.871,0.409,24.0,46.0,0
70676,20801109,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,28:59,...,19.0,40.0,1610612760,96.0,0.493,0.708,0.625,21.0,36.0,0
71026,20801098,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,27:44,...,13.0,44.0,1610612759,86.0,0.403,0.810,0.241,20.0,43.0,1
71422,20801081,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,17:03,...,31.0,39.0,1610612746,98.0,0.513,0.625,0.500,17.0,35.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623704,21200047,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,17:03,...,25.0,45.0,1610612754,79.0,0.342,0.864,0.300,11.0,48.0,1
624040,21200035,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,15:30,...,29.0,33.0,1610612762,100.0,0.494,0.864,0.385,17.0,32.0,1
625682,11200085,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,18,...,24.0,42.0,1610612759,100.0,0.407,0.813,0.320,22.0,38.0,1
625855,11200082,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,19,...,23.0,36.0,1610612759,101.0,0.470,0.652,0.348,26.0,36.0,1
626666,11200044,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,18,...,23.0,45.0,1610612759,116.0,0.529,0.714,0.346,29.0,41.0,0

In [51]:
#Ordenamos el Dataset por temporada
df_manu = df_manu.sort_values(by = ["SEASON"])

In [52]:
#Reseteamos el indice
df_manu = df_manu.reset_index()

In [53]:
df_manu

,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,249058,20300689,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,16.0,37.0,1610612759,83.0,0.431,0.600,0.250,15.0,40.0,0
1,241187,20301020,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,19.0,40.0,1610612759,81.0,0.407,0.643,0.167,28.0,48.0,1
2,241652,20301001,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,18.0,48.0,1610612738,87.0,0.415,0.929,0.429,17.0,31.0,1
3,241985,20300985,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,20.0,43.0,1610612750,86.0,0.437,0.846,0.222,15.0,37.0,1
4,242426,20300965,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,21.0,42.0,1610612759,80.0,0.386,0.759,0.364,14.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,432808,21700323,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,19.0,38.0,1610612759,95.0,0.443,0.688,0.407,20.0,43.0,0
1288,433225,21700311,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,22.0,32.0,1610612763,95.0,0.455,0.875,0.500,21.0,37.0,1
1289,433530,21700295,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,27.0,43.0,1610612742,108.0,0.482,0.706,0.438,25.0,40.0,1
1290,434622,21700250,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,29.0,52.0,1610612737,85.0,0.435,0.375,0.267,21.0,38.0,1
1291,433672,21700277,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,20.0,42.0,1610612759,106.0,0.481,0.880,0.240,22.0,45.0,0

In [58]:
#Completamos los valores nulos de la columna MIN
df_manu[["MIN"]] = df_manu[["MIN"]].fillna(0)

In [59]:
#Subdividmos la columna MIN debido al formato ", y creamos las columnas minutos y segundos 
df_manu[['minutos','segundos']] = df_manu['MIN'].str.split(':', 1, expand = True)

In [60]:
#Verificamos si hay valores nulos en mintutos
df_manu.loc[df_manu["minutos"].isnull()]

,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,minutos,segundos
94,206623,20401145,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Stomach Virus,...,1610612759,136.0,0.438,0.730,0.458,24.0,59.0,0,NaN,NaN
99,211012,20400966,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Strained Right Groin,...,1610612766,76.0,0.373,0.731,0.250,13.0,49.0,1,NaN,NaN
100,211372,20400951,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Strained right groin,...,1610612750,73.0,0.391,0.818,0.125,14.0,44.0,1,NaN,NaN
101,211734,20400935,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - strained right groin,...,1610612740,89.0,0.433,0.900,0.400,21.0,37.0,1,NaN,NaN
102,212094,20400918,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - slight right groin strain,...,1610612743,90.0,0.390,0.722,0.400,14.0,38.0,0,NaN,NaN
103,212487,20400900,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Right Groin Tightness,...,1610612759,101.0,0.438,0.750,0.133,15.0,37.0,1,NaN,NaN
179,220890,20400550,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - right quadricep contusion,...,1610612764,73.0,0.318,0.706,0.368,16.0,37.0,1,NaN,NaN
187,223931,20400420,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND-strained neck,...,1610612759,114.0,0.540,0.650,0.467,34.0,49.0,0,NaN,NaN
218,176180,20500978,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Calf/quad contusion,...,1610612759,92.0,0.487,0.667,0.375,19.0,37.0,0,NaN,NaN
278,171450,20501175,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612753,92.0,0.494,0.737,0.500,15.0,39.0,0,NaN,NaN
422,102780,20701198,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,"DND - Mild strain, left adductor.",...,1610612759,85.0,0.418,0.583,0.294,20.0,36.0,1,NaN,NaN
423,103105,20701185,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,"DND - mild strain, left adductor",...,1610612760,74.0,0.386,0.643,0.500,13.0,46.0,1,NaN,NaN
564,333400,20901098,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Back Spasms,...,1610612759,84.0,0.415,0.550,0.333,23.0,53.0,1,NaN,NaN
565,330520,20901220,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Coach's Decision,...,1610612759,89.0,0.407,0.650,0.091,18.0,52.0,1,NaN,NaN
711,271653,21100850,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT -,...,1610612759,84.0,0.402,0.700,0.292,16.0,38.0,1,NaN,NaN
762,605431,21200766,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,103.0,0.520,0.850,0.500,21.0,26.0,0,NaN,NaN
785,605586,21200758,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,111.0,0.589,0.650,0.632,22.0,28.0,0,NaN,NaN
796,606047,21200739,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,109.0,0.457,0.833,0.417,20.0,33.0,1,NaN,NaN
798,607061,21200702,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Tightness left hamstring,...,1610612764,86.0,0.409,0.471,0.273,24.0,41.0,1,NaN,NaN
802,619231,21200220,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT -,...,1610612759,100.0,0.450,0.750,0.333,22.0,45.0,1,NaN,NaN
819,606277,21200731,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,104.0,0.457,0.952,0.400,24.0,41.0,0,NaN,NaN
839,615869,21200354,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Left Quad Contusion,...,1610612759,93.0,0.456,0.714,0.300,23.0,37.0,1,NaN,NaN
847,559898,21301127,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Rest,...,1610612759,94.0,0.432,0.750,0.409,18.0,42.0,1,NaN,NaN
853,562213,21301038,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,99.0,0.393,0.760,0.357,24.0,40.0,0,NaN,NaN
929,574466,21300554,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Tightness Left hamstring,...,1610612750,86.0,0.355,0.833,0.294,17.0,40.0,1,NaN,NaN
930,575323,21300520,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,"DND - tightness, left hamstring",...,1610612742,90.0,0.419,0.625,0.368,20.0,32.0,1,NaN,NaN
939,578847,21300382,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,104.0,0.449,0.684,0.407,21.0,39.0,0,NaN,NaN
998,549425,21400069,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,81.0,0.344,0.895,0.100,17.0,41.0,1,NaN,NaN
1005,553036,11400062,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - Coach's Decision,...,1610612759,90.0,0.444,0.677,0.263,20.0,41.0,1,NaN,NaN
1018,541074,21400397,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,93.0,0.416,1.000,0.231,10.0,48.0,1,NaN,NaN
1021,541967,21400361,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,95.0,0.487,0.682,0.364,19.0,42.0,1,NaN,NaN
1024,542950,21400322,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - rest,...,1610612752,95.0,0.487,0.882,0.400,22.0,36.0,1,NaN,NaN
1026,543774,21400291,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Left shoulder impingement,...,1610612750,101.0,0.422,0.781,0.375,20.0,33.0,1,NaN,NaN
1053,516945,11500027,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - rehabilitation and rest,...,1610612759,92.0,0.432,0.722,0.375,19.0,38.0,1,NaN,NaN
1104,506349,21500305,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,119.0,0.618,0.840,0.364,32.0,47.0,0,NaN,NaN
1148,446849,21601183,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - Rest,...,1610612759,102.0,0.417,0.591,0.321,26.0,58.0,0,NaN,NaN
1149,447249,21601170,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Right quad contusion,...,1610612747,102.0,0.488,0.786,0.500,23.0,47.0,0,NaN,NaN
1151,447813,21601151,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612762,103.0,0.483,0.615,0.375,24.0,36.0,1,NaN,NaN
1155,460028,21600666,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,112.0,0.474,0.813,0.409,22.0,50.0,0,NaN,NaN
1169,477294,11600101,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612745,99.0,0.409,0.682,0.229,20.0,46.0,1,NaN,NaN
1174,480438,11600007,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - Did Not Travel,...,1610612759,86.0,0.400,0.688,0.440,17.0,41.0,1,NaN,NaN
1195,469051,21600319,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,105.0,0.527,0.842,0.458,21.0,35.0,0,NaN,NaN
1203,424356,21700655,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Injury/Illness,...,1610612759,100.0,0.415,0.742,0.474,24.0,42.0,0,NaN,NaN
1205,418456,21700894,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,110.0,0.442,0.781,0.474,22.0,44.0,0,NaN,NaN
1215,422761,21700722,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Injury/Illness,...,1610612755,97.0,0.481,0.667,0.429,23.0,50.0,0,NaN,NaN
1217,423335,21700698,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Injury/Illness,...,1610612739,102.0,0.486,0.839,0.286,19.0,41.0,1,NaN,NaN
1218,423714,21700686,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Injury/Illness,...,1610612754,94.0,0.440,0.941,0.211,14.0,41.0,0,NaN,NaN
1219,424104,21700667,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - Injury/Illness,...,1610612759,83.0,0.341,0.800,0.250,18.0,56.0,1,NaN,NaN
1221,423123,21700707,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NWT - Injury/Illness,...,1610612759,108.0,0.463,0.880,0.417,29.0,45.0,0,NaN,NaN
1249,436194,21700183,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Rest,...,1610612741,94.0,0.465,0.615,0.261,22.0,28.0,1,NaN,NaN
1252,437253,21700141,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Rest,...,1610612756,95.0,0.457,0.591,0.348,23.0,45.0,1,NaN,NaN
1255,438576,21700092,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Rest,...,1610612759,94.0,0.414,0.500,0.462,24.0,40.0,1,NaN,NaN
1265,442451,11700036,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612758,93.0,0.452,0.684,0.267,19.0,32.0,1,NaN,NaN
1268,425931,21700596,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,107.0,0.489,0.615,0.423,23.0,37.0,0,NaN,NaN
1272,426879,21700555,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,106.0,0.448,0.870,0.320,15.0,43.0,1,NaN,NaN
1278,429149,21700470,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DND - Rest,...,1610612759,89.0,0.436,0.688,0.476,14.0,38.0,1,NaN,NaN
1286,432408,21700337,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,DNP - Coach's Decision,...,1610612759,87.0,0.408,0.739,0.286,14.0,39.0,1,NaN,NaN

In [61]:
# Completamos los valores nulos de minutos y segundos y transformamos las columnas a float
df_manu[["minutos"]] = df_manu[["minutos"]].fillna(0)
df_manu[["segundos"]] = df_manu[["segundos"]].fillna(0)
df_manu[["minutos"]] = df_manu[["minutos"]].astype(float)
df_manu[["segundos"]] = df_manu[["segundos"]].astype(float)

In [62]:
df_manu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              1292 non-null   int64
 1   GAME_ID            1292 non-null   int64
 2   TEAM_ID            1292 non-null   int64
 3   TEAM_ABBREVIATION  1292 non-null   object
 4   TEAM_CITY          1292 non-null   object
 5   PLAYER_ID          1292 non-null   int64
 6   PLAYER_NAME        1292 non-null   object
 7   NICKNAME           0 non-null      object
 8   START_POSITION     397 non-null    object
 9   COMMENT            57 non-null     object
 10  MIN                1292 non-null   object
 11  FGM                1235 non-null   float64
 12  FGA                1235 non-null   float64
 13  FG_PCT             1235 non-null   float64
 14  FG3M               1235 non-null   float64
 15  FG3A               1235 non-null   float64
 16  FG3_PCT            1235 non-null   float64
 17  FTM                1235 non-null   float64
 18  FTA                1235 non-null   float64
 19  FT_PCT             1235 non-null   float64
 20  OREB               1235 non-null   float64
 21  DREB               1235 non-null   float64
 22  REB                1235 non-null   float64
 23  AST                1235 non-null   float64
 24  STL                1235 non-null   float64
 25  BLK                1235 non-null   float64
 26  TO                 1235 non-null   float64
 27  PF                 1235 non-null   float64
 28  PTS                1235 non-null   float64
 29  PLUS_MINUS         1199 non-null   float64
 30  GAME_DATE_EST      1292 non-null   object
 31  GAME_STATUS_TEXT   1292 non-null   object
 32  HOME_TEAM_ID       1292 non-null   int64
 33  VISITOR_TEAM_ID    1292 non-null   int64
 34  SEASON             1292 non-null   int64
 35  TEAM_ID_home       1292 non-null   int64
 36  PTS_home           1292 non-null   float64
 37  FG_PCT_home        1292 non-null   float64
 38  FT_PCT_home        1292 non-null   float64
 39  FG3_PCT_home       1292 non-null   float64
 40  AST_home           1292 non-null   float64
 41  REB_home           1292 non-null   float64
 42  TEAM_ID_away       1292 non-null   int64
 43  PTS_away           1292 non-null   float64
 44  FG_PCT_away        1292 non-null   float64
 45  FT_PCT_away        1292 non-null   float64
 46  FG3_PCT_away       1292 non-null   float64
 47  AST_away           1292 non-null   float64
 48  REB_away           1292 non-null   float64
 49  HOME_TEAM_WINS     1292 non-null   int64
 50  minutos            1292 non-null   float64
 51  segundos           1292 non-null   float64
dtypes: float64(33), int64(10), object(9)
memory usage: 525.0+ KB

In [ ]:
df_manu.loc[df_manu["minutos"].isnull()]

In [ ]:
#Creamos un dataframe para almacenar las estadisticas que queremos
df = pd.DataFrame()

In [65]:
#Calculamos los puntos por temporada
pts_x_temp = df_manu.groupby("SEASON")["PTS"].sum()

In [82]:
df["PTS_X_TEMP"] = df_manu.groupby("SEASON")["PTS"].sum()

In [83]:
df

        PTS_X_TEMP
SEASON
2003        1117.0
2004        1688.0
2005        1277.0
2006        1614.0
2007        1818.0
2008         683.0
2009        1456.0
2010        1538.0
2011         662.0
2012         973.0
2013        1215.0
2014         813.0
2015         666.0
2016         647.0
2017         636.0

In [87]:
#Calculamos los partidos por temporada, usando la columna PTS que solo contiene datos los partidos jugados
partidos_x_temp = df_manu.groupby("SEASON")["PTS"].count()

In [88]:
df["GAMES_X_TEMP"] = partidos_x_temp

In [89]:
df

        PTS_X_TEMP  GAMES_X_TEMP
SEASON
2003        1117.0            87
2004        1688.0           100
2005        1277.0            85
2006        1614.0            99
2007        1818.0            95
2008         683.0            44
2009        1456.0            89
2010        1538.0            90
2011         662.0            50
2012         973.0            84
2013        1215.0            95
2014         813.0            81
2015         666.0            73
2016         647.0            89
2017         636.0            74

In [90]:
#Controlamos que PTS solo tenga datos los partidos en que jugo
df_manu["PTS"].count()

1235

In [92]:
#Calculamos el promedio de puntos por partido por temporada
promedio_pts_x_temp = df_manu.groupby("SEASON")["PTS"].sum() / df_manu.groupby("SEASON")["PTS"].count()

In [93]:
df["PROM_PTS_X_TEMP"] = promedio_pts_x_temp

In [94]:
df

        PTS_X_TEMP  GAMES_X_TEMP  PROM_PTS_X_TEMP
SEASON
2003        1117.0            87        12.839080
2004        1688.0           100        16.880000
2005        1277.0            85        15.023529
2006        1614.0            99        16.303030
2007        1818.0            95        19.136842
2008         683.0            44        15.522727
2009        1456.0            89        16.359551
2010        1538.0            90        17.088889
2011         662.0            50        13.240000
2012         973.0            84        11.583333
2013        1215.0            95        12.789474
2014         813.0            81        10.037037
2015         666.0            73         9.123288
2016         647.0            89         7.269663
2017         636.0            74         8.594595

In [96]:
#Calculamos los minutos jugados por cada temporada, solo usando la columna minutos
min_x_temp = df_manu.groupby("SEASON")["minutos"].sum()

#Calculamos los segundos jugados por temporada, usando la columna segundos 
segundos_x_temp = df_manu.groupby("SEASON")["segundos"].sum()

#Calculamos los minutos mas los segundos jugados por temporada
minutos_x_temp = df_manu.groupby("SEASON")["minutos"].sum() + (df_manu.groupby("SEASON")["segundos"].sum() / 60)

In [97]:
df["MIN_X_TEMP"] = minutos_x_temp

In [98]:
df

        PTS_X_TEMP  GAMES_X_TEMP  PROM_PTS_X_TEMP   MIN_X_TEMP
SEASON
2003        1117.0            87        12.839080  2533.900000
2004        1688.0           100        16.880000  2992.300000
2005        1277.0            85        15.023529  2387.133333
2006        1614.0            99        16.303030  2737.650000
2007        1818.0            95        19.136842  2955.900000
2008         683.0            44        15.522727  1180.733333
2009        1456.0            89        16.359551  2579.333333
2010        1538.0            90        17.088889  2696.850000
2011         662.0            50        13.240000  1227.333333
2012         973.0            84        11.583333  2008.516667
2013        1215.0            95        12.789474  2206.700000
2014         813.0            81        10.037037  1798.783333
2015         666.0            73         9.123288  1404.383333
2016         647.0            89         7.269663  1633.783333
2017         636.0            74         8.594595  1468.350000

In [101]:
#Calculamos los minutos por partido por temporada jugados
promedio_min_x_temp = (df_manu.groupby("SEASON")["minutos"].sum() + (df_manu.groupby("SEASON")["segundos"].sum() / 60)
)  / df_manu.groupby("SEASON")["PTS"].count()

In [103]:
df["PROM_MIX_X_TEMP"] = promedio_min_x_temp

In [104]:
df

,PTS_X_TEMP,GAMES_X_TEMP,PROM_PTS_X_TEMP,MIN_X_TEMP,PROM_MIX_X_TEMP
SEASON,,,,,
2003,1117.0,87,12.839080,2533.900000,29.125287
2004,1688.0,100,16.880000,2992.300000,29.923000
2005,1277.0,85,15.023529,2387.133333,28.083922
2006,1614.0,99,16.303030,2737.650000,27.653030
2007,1818.0,95,19.136842,2955.900000,31.114737
2008,683.0,44,15.522727,1180.733333,26.834848
2009,1456.0,89,16.359551,2579.333333,28.981273
2010,1538.0,90,17.088889,2696.850000,29.965000
2011,662.0,50,13.240000,1227.333333,24.546667
2012,973.0,84,11.583333,2008.516667,23.910913
2013,1215.0,95,12.789474,2206.700000,23.228421
2014,813.0,81,10.037037,1798.783333,22.207202
2015,666.0,73,9.123288,1404.383333,19.238128
2016,647.0,89,7.269663,1633.783333,18.357116
2017,636.0,74,8.594595,1468.350000,19.842568

In [105]:
prom_pts_x_min_x_temp = df_manu.groupby("SEASON")["PTS"].sum() / (df_manu.groupby("SEASON")["minutos"].sum() + (df_manu.groupby("SEASON")["segundos"].sum() / 60))

In [106]:
df["PROM_PTS_X_MIN_X_TEMP"] = prom_pts_x_min_x_temp

In [107]:
df

,PTS_X_TEMP,GAMES_X_TEMP,PROM_PTS_X_TEMP,MIN_X_TEMP,PROM_MIX_X_TEMP,PROM_PTS_X_MIN_X_TEMP
SEASON,,,,,,
2003,1117.0,87,12.839080,2533.900000,29.125287,0.440822
2004,1688.0,100,16.880000,2992.300000,29.923000,0.564115
2005,1277.0,85,15.023529,2387.133333,28.083922,0.534951
2006,1614.0,99,16.303030,2737.650000,27.653030,0.589557
2007,1818.0,95,19.136842,2955.900000,31.114737,0.615041
2008,683.0,44,15.522727,1180.733333,26.834848,0.578454
2009,1456.0,89,16.359551,2579.333333,28.981273,0.564487
2010,1538.0,90,17.088889,2696.850000,29.965000,0.570295
2011,662.0,50,13.240000,1227.333333,24.546667,0.539381
2012,973.0,84,11.583333,2008.516667,23.910913,0.484437
2013,1215.0,95,12.789474,2206.700000,23.228421,0.550596
2014,813.0,81,10.037037,1798.783333,22.207202,0.451972
2015,666.0,73,9.123288,1404.383333,19.238128,0.474229
2016,647.0,89,7.269663,1633.783333,18.357116,0.396013
2017,636.0,74,8.594595,1468.350000,19.842568,0.433139

In [108]:
#Calculamos los partidos jugados de titular
part_titular = df_manu.groupby("SEASON")["START_POSITION"].count()

In [110]:
df["PART_TITULAR"] = part_titular

In [111]:
df

,PTS_X_TEMP,GAMES_X_TEMP,PROM_PTS_X_TEMP,MIN_X_TEMP,PROM_MIX_X_TEMP,PROM_PTS_X_MIN_X_TEMP,PART_TITULAR
SEASON,,,,,,,
2003,1117.0,87,12.839080,2533.900000,29.125287,0.440822,38
2004,1688.0,100,16.880000,2992.300000,29.923000,0.564115,89
2005,1277.0,85,15.023529,2387.133333,28.083922,0.534951,67
2006,1614.0,99,16.303030,2737.650000,27.653030,0.589557,36
2007,1818.0,95,19.136842,2955.900000,31.114737,0.615041,29
2008,683.0,44,15.522727,1180.733333,26.834848,0.578454,7
2009,1456.0,89,16.359551,2579.333333,28.981273,0.564487,31
2010,1538.0,90,17.088889,2696.850000,29.965000,0.570295,84
2011,662.0,50,13.240000,1227.333333,24.546667,0.539381,9
2012,973.0,84,11.583333,2008.516667,23.910913,0.484437,3
2013,1215.0,95,12.789474,2206.700000,23.228421,0.550596,3
2014,813.0,81,10.037037,1798.783333,22.207202,0.451972,0
2015,666.0,73,9.123288,1404.383333,19.238128,0.474229,0
2016,647.0,89,7.269663,1633.783333,18.357116,0.396013,1
2017,636.0,74,8.594595,1468.350000,19.842568,0.433139,0

In [112]:
#Calculamos el porcentaje de partidos jugados de titular
porc_part_titular = (df_manu.groupby("SEASON")["START_POSITION"].count() * 100) / df_manu.groupby("SEASON")["PTS"].count()

In [113]:
df["PORC_PART_TITULAR"] = porc_part_titular

In [114]:
df

,PTS_X_TEMP,GAMES_X_TEMP,PROM_PTS_X_TEMP,MIN_X_TEMP,PROM_MIX_X_TEMP,PROM_PTS_X_MIN_X_TEMP,PART_TITULAR,PORC_PART_TITULAR
SEASON,,,,,,,,
2003,1117.0,87,12.839080,2533.900000,29.125287,0.440822,38,43.678161
2004,1688.0,100,16.880000,2992.300000,29.923000,0.564115,89,89.000000
2005,1277.0,85,15.023529,2387.133333,28.083922,0.534951,67,78.823529
2006,1614.0,99,16.303030,2737.650000,27.653030,0.589557,36,36.363636
2007,1818.0,95,19.136842,2955.900000,31.114737,0.615041,29,30.526316
2008,683.0,44,15.522727,1180.733333,26.834848,0.578454,7,15.909091
2009,1456.0,89,16.359551,2579.333333,28.981273,0.564487,31,34.831461
2010,1538.0,90,17.088889,2696.850000,29.965000,0.570295,84,93.333333
2011,662.0,50,13.240000,1227.333333,24.546667,0.539381,9,18.000000
2012,973.0,84,11.583333,2008.516667,23.910913,0.484437,3,3.571429
2013,1215.0,95,12.789474,2206.700000,23.228421,0.550596,3,3.157895
2014,813.0,81,10.037037,1798.783333,22.207202,0.451972,0,0.000000
2015,666.0,73,9.123288,1404.383333,19.238128,0.474229,0,0.000000
2016,647.0,89,7.269663,1633.783333,18.357116,0.396013,1,1.123596
2017,636.0,74,8.594595,1468.350000,19.842568,0.433139,0,0.000000

In [116]:
promedio_reb_x_temp = df_manu.groupby("SEASON")["REB"].sum() / df_manu.groupby("SEASON")["PTS"].count()
promedio_ast_x_temp = df_manu.groupby("SEASON")["AST"].sum() / df_manu.groupby("SEASON")["PTS"].count()
promedio_blk_x_temp = df_manu.groupby("SEASON")["BLK"].sum() / df_manu.groupby("SEASON")["PTS"].count()
promedio_stl_x_temp = df_manu.groupby("SEASON")["STL"].sum() / df_manu.groupby("SEASON")["PTS"].count()
promedio_to_x_temp = df_manu.groupby("SEASON")["TO"].sum() / df_manu.groupby("SEASON")["PTS"].count()

In [117]:
df["PROM_REB_X_TEMP"] = promedio_reb_x_temp
df["PROM_AST_X_TEMP"] = promedio_ast_x_temp
df["PROM_TAPAS_X_TEMP"] = promedio_blk_x_temp
df["PROM_ROBOS_X_TEMP"] = promedio_stl_x_temp
df["PROM_PERD_X_TEMP"] = promedio_to_x_temp

In [118]:
df

,PTS_X_TEMP,GAMES_X_TEMP,PROM_PTS_X_TEMP,MIN_X_TEMP,PROM_MIX_X_TEMP,PROM_PTS_X_MIN_X_TEMP,PART_TITULAR,PORC_PART_TITULAR,PROM_REB_X_TEMP,PROM_AST_X_TEMP,PROM_TAPAS_X_TEMP,PROM_ROBOS_X_TEMP,PROM_PERD_X_TEMP
SEASON,,,,,,,,,,,,,
2003,1117.0,87,12.839080,2533.900000,29.125287,0.440822,38,43.678161,4.563218,3.701149,0.195402,1.758621,2.091954
2004,1688.0,100,16.880000,2992.300000,29.923000,0.564115,89,89.000000,4.760000,3.990000,0.340000,1.550000,2.450000
2005,1277.0,85,15.023529,2387.133333,28.083922,0.534951,67,78.823529,3.647059,3.423529,0.435294,1.482353,2.023529
2006,1614.0,99,16.303030,2737.650000,27.653030,0.589557,36,36.363636,4.494949,3.494949,0.313131,1.444444,2.070707
2007,1818.0,95,19.136842,2955.900000,31.114737,0.615041,29,30.526316,4.536842,4.378947,0.410526,1.273684,2.705263
2008,683.0,44,15.522727,1180.733333,26.834848,0.578454,7,15.909091,4.500000,3.568182,0.363636,1.454545,2.000000
2009,1456.0,89,16.359551,2579.333333,28.981273,0.564487,31,34.831461,3.707865,4.955056,0.292135,1.483146,2.123596
2010,1538.0,90,17.088889,2696.850000,29.965000,0.570295,84,93.333333,3.622222,4.811111,0.355556,1.544444,2.200000
2011,662.0,50,13.240000,1227.333333,24.546667,0.539381,9,18.000000,3.400000,4.220000,0.320000,0.720000,2.220000
2012,973.0,84,11.583333,2008.516667,23.910913,0.484437,3,3.571429,3.428571,4.607143,0.238095,1.261905,2.333333
2013,1215.0,95,12.789474,2206.700000,23.228421,0.550596,3,3.157895,3.021053,4.263158,0.231579,1.147368,2.105263
2014,813.0,81,10.037037,1798.783333,22.207202,0.451972,0,0.000000,3.098765,4.185185,0.345679,0.888889,2.246914
2015,666.0,73,9.123288,1404.383333,19.238128,0.474229,0,0.000000,2.493151,2.986301,0.219178,1.123288,1.534247
2016,647.0,89,7.269663,1633.783333,18.357116,0.396013,1,1.123596,2.325843,2.573034,0.213483,1.146067,1.280899
2017,636.0,74,8.594595,1468.350000,19.842568,0.433139,0,0.000000,2.324324,2.594595,0.229730,0.743243,1.635135

In [128]:
df_SAS_manu = df_SAS.loc[df_SAS["SEASON"] < 2018]

In [130]:
df_SAS_manu

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,PART_JUGADOS
2431,2014-06-15,41300405,Final,1610612759,1610612748,2013,1610612759,104.0,0.474,0.783,...,40.0,1610612748,87.0,0.400,0.741,0.280,14.0,41.0,1,NaN
2432,2014-06-12,41300404,Final,1610612748,1610612759,2013,1610612748,86.0,0.451,0.650,...,27.0,1610612759,107.0,0.571,0.720,0.429,25.0,44.0,0,NaN
2433,2014-06-10,41300403,Final,1610612748,1610612759,2013,1610612748,92.0,0.516,0.750,...,26.0,1610612759,111.0,0.594,0.813,0.450,21.0,29.0,0,NaN
2434,2014-06-08,41300402,Final,1610612759,1610612748,2013,1610612759,96.0,0.439,0.600,...,37.0,1610612748,98.0,0.529,0.762,0.421,16.0,38.0,0,NaN
2435,2014-06-05,41300401,Final,1610612759,1610612748,2013,1610612759,110.0,0.588,0.773,...,39.0,1610612748,95.0,0.474,0.818,0.414,16.0,29.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24921,2014-10-24,11400113,Final,1610612745,1610612759,2014,1610612745,96.0,0.422,0.647,...,46.0,1610612759,87.0,0.406,0.793,0.308,24.0,38.0,1,NaN
24934,2014-10-22,11400105,Final,1610612759,1610612737,2014,1610612759,107.0,0.532,0.818,...,38.0,1610612737,117.0,0.519,0.735,0.480,29.0,34.0,0,NaN
24949,2014-10-20,11400091,Final,1610612759,1610612758,2014,1610612759,106.0,0.468,0.889,...,36.0,1610612758,99.0,0.507,0.778,0.125,19.0,39.0,1,NaN
24958,2014-10-18,11400078,Final,1610612759,1610612748,2014,1610612759,108.0,0.413,0.833,...,50.0,1610612748,111.0,0.455,0.723,0.318,20.0,37.0,0,NaN
24971,2014-10-16,11400062,Final,1610612756,1610612759,2014,1610612756,121.0,0.556,0.625,...,36.0,1610612759,90.0,0.444,0.677,0.263,20.0,41.0,1,NaN

In [131]:
df_SAS

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
13,2021-11-16,22100212,Final,1610612746,1610612759,2021,1610612746,106.0,0.435,0.909,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
25,2021-11-14,22100192,Final,1610612747,1610612759,2021,1610612747,114.0,0.518,0.765,...,28.0,46.0,1610612759,106.0,0.444,0.667,0.444,28.0,43.0,1
46,2021-11-12,22100181,Final,1610612759,1610612742,2021,1610612759,109.0,0.488,0.700,...,30.0,41.0,1610612742,123.0,0.460,0.684,0.400,30.0,48.0,0
61,2021-11-10,22100166,Final,1610612759,1610612758,2021,1610612759,136.0,0.533,0.645,...,34.0,43.0,1610612758,117.0,0.516,0.813,0.278,20.0,44.0,1
82,2021-11-07,22100144,Final,1610612760,1610612759,2021,1610612760,99.0,0.372,0.850,...,21.0,57.0,1610612759,94.0,0.410,0.667,0.200,29.0,46.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24921,2014-10-24,11400113,Final,1610612745,1610612759,2014,1610612745,96.0,0.422,0.647,...,16.0,46.0,1610612759,87.0,0.406,0.793,0.308,24.0,38.0,1
24934,2014-10-22,11400105,Final,1610612759,1610612737,2014,1610612759,107.0,0.532,0.818,...,25.0,38.0,1610612737,117.0,0.519,0.735,0.480,29.0,34.0,0
24949,2014-10-20,11400091,Final,1610612759,1610612758,2014,1610612759,106.0,0.468,0.889,...,24.0,36.0,1610612758,99.0,0.507,0.778,0.125,19.0,39.0,1
24958,2014-10-18,11400078,Final,1610612759,1610612748,2014,1610612759,108.0,0.413,0.833,...,27.0,50.0,1610612748,111.0,0.455,0.723,0.318,20.0,37.0,0
24971,2014-10-16,11400062,Final,1610612756,1610612759,2014,1610612756,121.0,0.556,0.625,...,27.0,36.0,1610612759,90.0,0.444,0.677,0.263,20.0,41.0,1

In [133]:
df_estad_SAS = pd.DataFrame()

In [134]:
df_estad_SAS["PART_JUGADOS"] = df_SAS_manu.groupby("SEASON")["GAME_ID"].count()

In [135]:
df_estad_SAS

        PART_JUGADOS
SEASON
2003             100
2004             108
2005             103
2006             107
2007             104
2008              94
2009              98
2010              94
2011              82
2012             109
2013             111
2014              94
2015              98
2016             104
2017              92

In [140]:
partidos_ganados_local = df_SAS_manu.loc[(df_SAS_manu["HOME_TEAM_ID"] == 1610612759) & (df_SAS_manu["HOME_TEAM_WINS"] == 1)].groupby("SEASON")["GAME_ID"].count()

In [138]:
df_estad_SAS["PART_GAN_LOCAL"] = partidos_ganados_local.groupby("SEASON")["GAME_ID"].count()

In [139]:
df_estad_SAS

        PART_JUGADOS  PART_GAN_LOCAL
SEASON
2003             100              37
2004             108              49
2005             103              39
2006             107              42
2007             104              43
2008              94              30
2009              98              33
2010              94              40
2011              82              35
2012             109              45
2013             111              44
2014              94              35
2015              98              45
2016             104              38
2017              92              36

In [141]:
partidos_ganados_vis = df_SAS_manu.loc[(df_SAS_manu["VISITOR_TEAM_ID"] == 1610612759) & (arc_games_copia["HOME_TEAM_WINS"] == 0)].groupby("SEASON")["GAME_ID"].count()

In [142]:
df_estad_SAS["PART_GAN_VIS"] = partidos_ganados_vis

In [143]:
df_estad_SAS

        PART_JUGADOS  PART_GAN_LOCAL  PART_GAN_VIS
SEASON
2003             100              37            29
2004             108              49            29
2005             103              39            32
2006             107              42            34
2007             104              43            25
2008              94              30            28
2009              98              33            24
2010              94              40            26
2011              82              35            26
2012             109              45            31
2013             111              44            36
2014              94              35            24
2015              98              45            30
2016             104              38            35
2017              92              36            15

In [144]:
partidos_perdidos_local = df_SAS_manu.loc[(df_SAS_manu["HOME_TEAM_ID"] == 1610612759) & (df_SAS_manu["HOME_TEAM_WINS"] == 0)].groupby("SEASON")["GAME_ID"].count()
partidos_perdidos_vis = df_SAS_manu.loc[(df_SAS_manu["VISITOR_TEAM_ID"] == 1610612759) & (df_SAS_manu["HOME_TEAM_WINS"] == 1)].groupby("SEASON")["GAME_ID"].count()

In [146]:
df_estad_SAS

        PART_JUGADOS  PART_GAN_LOCAL  PART_GAN_VIS  PART_PER_LOC  PART_PER_VIS
SEASON
2003             100              37            29            14            20
2004             108              49            29             6            24
2005             103              39            32            13            19
2006             107              42            34            14            17
2007             104              43            25             8            28
2008              94              30            28            18            18
2009              98              33            24            16            25
2010              94              40            26             7            21
2011              82              35            26             6            15
2012             109              45            31             9            24
2013             111              44            36            13            18
2014              94              35            24            12            23
2015              98              45            30             4            19
2016             104              38            35            14            17
2017              92              36            15            10            31

In [147]:
df_manu

,index,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,minutos,segundos
0,249058,20300689,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612759,83.0,0.431,0.600,0.250,15.0,40.0,0,24.0,50.0
1,241187,20301020,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612759,81.0,0.407,0.643,0.167,28.0,48.0,1,20.0,45.0
2,241652,20301001,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612738,87.0,0.415,0.929,0.429,17.0,31.0,1,23.0,38.0
3,241985,20300985,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612750,86.0,0.437,0.846,0.222,15.0,37.0,1,28.0,2.0
4,242426,20300965,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612759,80.0,0.386,0.759,0.364,14.0,37.0,1,24.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,432808,21700323,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612759,95.0,0.443,0.688,0.407,20.0,43.0,0,24.0,37.0
1288,433225,21700311,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612763,95.0,0.455,0.875,0.500,21.0,37.0,1,23.0,35.0
1289,433530,21700295,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612742,108.0,0.482,0.706,0.438,25.0,40.0,1,16.0,55.0
1290,434622,21700250,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612737,85.0,0.435,0.375,0.267,21.0,38.0,1,25.0,38.0
1291,433672,21700277,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,...,1610612759,106.0,0.481,0.880,0.240,22.0,45.0,0,19.0,58.0

In [150]:
df_SAS_con_Manu = pd.DataFrame()

In [169]:
df_SAS_con_Manu["PART_JUGADOS"] = df_manu.groupby("SEASON")["PTS"].count()
df_SAS_con_Manu["PART_GAN_LOCAL"] = df_manu.loc[(df_manu["HOME_TEAM_ID"] == 1610612759) & (df_manu["HOME_TEAM_WINS"] == 1)].groupby("SEASON")["PTS"].count()
df_SAS_con_Manu["PART_GAN_VIS"] = df_manu.loc[(df_manu["VISITOR_TEAM_ID"] == 1610612759) & (df_manu["HOME_TEAM_WINS"] == 0)].groupby("SEASON")["PTS"].count()
df_SAS_con_Manu["PART_PER_LOC"] = df_manu.loc[(df_manu["HOME_TEAM_ID"] == 1610612759) & (df_manu["HOME_TEAM_WINS"] == 0)].groupby("SEASON")["PTS"].count()
df_SAS_con_Manu["PART_PER_VIS"] = df_manu.loc[(df_manu["VISITOR_TEAM_ID"] == 1610612759) & (df_manu["HOME_TEAM_WINS"] == 1)].groupby("SEASON")["PTS"].count()

In [170]:
df_SAS_con_Manu

        PART_JUGADOS  PART_GAN_LOCAL  PART_GAN_VIS  PART_PER_LOC  PART_PER_VIS
SEASON
2003              87              35            24             9            19
2004             100              45            27             5            23
2005              85              32            27            11            15
2006              99              41            33            12            13
2007              95              38            24             7            26
2008              44              16            16             4             8
2009              89              29            22            15            23
2010              90              40            26             5            19
2011              50              24            15             4             7
2012              84              36            25             7            16
2013              95              40            30            11            14
2014              81              31            20            12            18
2015              73              39            16             4            14
2016              89              33            29            13            14
2017              74              32            10             8            24