In [ ]:
#Importamos librerias 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib.style as sty

%matplotlib inline

In [3]:
#Carga y lectura de archivos

path_players = "archivos/players.csv"
arc_players = pd.read_csv(path_players)
path_games_details = "archivos/games_details.csv"
arc_games_details = pd.read_csv(path_games_details)
path_games = "archivos/games.csv"
arc_games = pd.read_csv(path_games)

E:\win10\Alison\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
#Copia a archivos para trabajar en duplicado
arc_players_copia = arc_players.copy()
arc_games_details_copia = arc_games_details.copy()
arc_games_copia = arc_games.copy()

In [5]:
#Hacemos el merge entre los archivos que vamos a usar
merge_games_gamesdetails = arc_games_details_copia.merge(arc_games_copia, on = ['GAME_ID'])

In [6]:
#Filtramos el dataset de games_details para quedarnos solo con los datos de SAS. Lo guardamos en un nuevo dataset
df_SAS = merge_games_gamesdetails.loc[merge_games_gamesdetails["TEAM_ABBREVIATION"] == "SAS"]

In [7]:
df_SAS

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
339,22100212,1610612759,SAS,San Antonio,1629640,Keldon Johnson,Keldon,F,NaN,33:23,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
340,22100212,1610612759,SAS,San Antonio,203926,Doug McDermott,Doug,F,NaN,28:55,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
341,22100212,1610612759,SAS,San Antonio,1629234,Drew Eubanks,Drew,C,NaN,24:07,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
342,22100212,1610612759,SAS,San Antonio,1627749,Dejounte Murray,Dejounte,G,NaN,38:32,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
343,22100212,1610612759,SAS,San Antonio,1628401,Derrick White,Derrick,G,NaN,31:30,...,16.0,52.0,1610612759,92.0,0.432,0.714,0.227,26.0,41.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627208,11200024,1610612759,SAS,San Antonio,201986,Nando De Colo,NaN,NaN,NaN,28,...,30.0,47.0,1610612737,99.0,0.383,0.826,0.444,23.0,43.0,1
627209,11200024,1610612759,SAS,San Antonio,1536,Stephen Jackson,NaN,NaN,NaN,15,...,30.0,47.0,1610612737,99.0,0.383,0.826,0.444,23.0,43.0,1
627210,11200024,1610612759,SAS,San Antonio,201168,Tiago Splitter,NaN,NaN,NaN,13,...,30.0,47.0,1610612737,99.0,0.383,0.826,0.444,23.0,43.0,1
627211,11200024,1610612759,SAS,San Antonio,203174,Tyler Wilkerson,NaN,NaN,NaN,4,...,30.0,47.0,1610612737,99.0,0.383,0.826,0.444,23.0,43.0,1
627212,11200024,1610612759,SAS,San Antonio,203178,Wesley Witherspoon,NaN,NaN,NaN,12,...,30.0,47.0,1610612737,99.0,0.383,0.826,0.444,23.0,43.0,1

In [8]:
#Filtramos el dataset de games_details para quedarnos solo con los datos de Manu Ginobili. Lo guardamos en un nuevo dataset
df_manu = merge_games_gamesdetails.loc[merge_games_gamesdetails["PLAYER_NAME"] == "Manu Ginobili"]

In [9]:
df_manu

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
69945,20801142,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,22:36,...,16.0,44.0,1610612759,81.0,0.392,0.789,0.250,14.0,34.0,1
70304,20801126,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,36:07,...,19.0,37.0,1610612759,126.0,0.549,0.871,0.409,24.0,46.0,0
70676,20801109,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,G,NaN,28:59,...,19.0,40.0,1610612760,96.0,0.493,0.708,0.625,21.0,36.0,0
71026,20801098,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,27:44,...,13.0,44.0,1610612759,86.0,0.403,0.810,0.241,20.0,43.0,1
71422,20801081,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,17:03,...,31.0,39.0,1610612746,98.0,0.513,0.625,0.500,17.0,35.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623704,21200047,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,17:03,...,25.0,45.0,1610612754,79.0,0.342,0.864,0.300,11.0,48.0,1
624040,21200035,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,15:30,...,29.0,33.0,1610612762,100.0,0.494,0.864,0.385,17.0,32.0,1
625682,11200085,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,18,...,24.0,42.0,1610612759,100.0,0.407,0.813,0.320,22.0,38.0,1
625855,11200082,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,19,...,23.0,36.0,1610612759,101.0,0.470,0.652,0.348,26.0,36.0,1
626666,11200044,1610612759,SAS,San Antonio,1938,Manu Ginobili,NaN,NaN,NaN,18,...,23.0,45.0,1610612759,116.0,0.529,0.714,0.346,29.0,41.0,0

In [ ]:
#Seleccionamos las columnas que queremos quedarnos del dataset
#union_games_gamesdetails = union_games_gamesdetails[['PLAYER_NAME','SEASON','GAME_ID','PTS','MIN',"START_POSITION"]]
union_games_gamesdetails

In [ ]:
arc_games_merge["SEASON"]

In [ ]:
#Ordenamos el Dataset por temporada
union_games_gamesdetails = union_games_gamesdetails.sort_values(by = ["SEASON"])

In [ ]:
#Reseteamos el indice
union_games_gamesdetails = union_games_gamesdetails.reset_index()

In [ ]:
arc_games_copia = arc_games_copia.sort_values(by = ["SEASON"])

In [ ]:
arc_games_copia = arc_games_copia.reset_index()

In [ ]:
#Completamos los valores nulos de la columna MIN
union_games_gamesdetails[["MIN"]] = union_games_gamesdetails[["MIN"]].fillna(0)
#union_games_gamesdetails["MIN"].unique()

In [ ]:
#Subdividmos la columna MIN debido al formato ", y creamos las columnas minutos y segundos 
union_games_gamesdetails[['minutos','segundos']] = union_games_gamesdetails['MIN'].str.split(':', 1, expand = True)
#union_games_gamesdetails["minutos"].unique()

In [ ]:
#Verificamos si hay valores nulos en mintutos
union_games_gamesdetails.loc[union_games_gamesdetails["minutos"].isnull()]

In [ ]:
# Completamos los valores nulos de minutos y segundos y transformamos las columnas a float
union_games_gamesdetails[["minutos"]] = union_games_gamesdetails[["minutos"]].fillna(0)
union_games_gamesdetails[["segundos"]] = union_games_gamesdetails[["segundos"]].fillna(0)
union_games_gamesdetails[["minutos"]] = union_games_gamesdetails[["minutos"]].astype(float)
union_games_gamesdetails[["segundos"]] = union_games_gamesdetails[["segundos"]].astype(float)

In [ ]:
union_games_gamesdetails.info()

In [ ]:
#Calculamos los puntos por temporada
pts_x_temp = union_games_gamesdetails.groupby("SEASON")["PTS"].sum()

In [ ]:
df["PTS_X_"] = union_games_gamesdetails.groupby("SEASON")["PTS"].sum()
df["PTS_X_"]

In [ ]:
pts_x_temp = pts_x_temp.to_frame().reset_index()

In [ ]:
df["PTS_X_TEMP"] = pts_x_temp[["PTS"]]
df

In [ ]:
#Calculamos los partidos por temporada, usando la columna PTS que solo contiene datos los partidos jugados
partidos_x_temp = union_games_gamesdetails.groupby("SEASON")["PTS"].count()
partidos_x_temp

In [ ]:
#Controlamos que PTS solo tenga datos los partidos en que jugo
union_games_gamesdetails["PTS"].count()

In [ ]:
#Calculamos el promedio de puntos por partido por temporada
promedio_pts_x_temp = union_games_gamesdetails.groupby("SEASON")["PTS"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
promedio_pts_x_temp

In [ ]:
#Calculamos los minutos jugados por cada temporada, solo usando la columna minutos
min_x_temp = union_games_gamesdetails.groupby("SEASON")["minutos"].sum()

#Calculamos los segundos jugados por temporada, usando la columna segundos 
segundos_x_temp = union_games_gamesdetails.groupby("SEASON")["segundos"].sum()

#Calculamos los minutos mas los segundos jugados por temporada
minutos_x_temp = union_games_gamesdetails.groupby("SEASON")["minutos"].sum() + (union_games_gamesdetails.groupby("SEASON")["segundos"].sum() / 60)
#min_x_temp
#segundos_x_temp
minutos_x_temp

In [ ]:
#Calculamos los minutos por partido por temporada jugados
promedio_min_x_temp = (union_games_gamesdetails.groupby("SEASON")["minutos"].sum() + (union_games_gamesdetails.groupby("SEASON")["segundos"].sum() / 60)
)  / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
promedio_min_x_temp

In [ ]:
prom_pts_x_min_x_temp = union_games_gamesdetails.groupby("SEASON")["PTS"].sum() / (union_games_gamesdetails.groupby("SEASON")["minutos"].sum() + (union_games_gamesdetails.groupby("SEASON")["segundos"].sum() / 60))
prom_pts_x_min_x_temp

In [ ]:
#Calculamos los partidos jugados de titular
part_titular = union_games_gamesdetails.groupby("SEASON")["START_POSITION"].count()
part_titular

In [ ]:
#Calculamos el porcentaje de partidos jugados de titular
porc_part_titular = (union_games_gamesdetails.groupby("SEASON")["START_POSITION"].count() * 100) / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
porc_part_titular

In [ ]:
union_games_gamesdetails["promedio_reb_x_temp"] = (union_games_gamesdetails.groupby("SEASON")["REB"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count())
promedio_ast_x_temp = union_games_gamesdetails.groupby("SEASON")["AST"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
promedio_blk_x_temp = union_games_gamesdetails.groupby("SEASON")["BLK"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
promedio_stl_x_temp = union_games_gamesdetails.groupby("SEASON")["STL"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count()
promedio_to_x_temp = union_games_gamesdetails.groupby("SEASON")["TO"].sum() / union_games_gamesdetails.groupby("SEASON")["PTS"].count()

In [ ]:
arc_games_copia  = arc_games_copia.loc[(arc_games_copia ["HOME_TEAM_ID"] == 1610612759) | (arc_games_copia ["VISITOR_TEAM_ID"] == 1610612759)] 
partidos_jugados_SA = arc_games_copia.groupby("SEASON")["GAME_ID"].count()
partidos_jugados_SA
#arc_games_copia

In [ ]:
partidos_ganados_local = arc_games_copia.loc[(arc_games_copia["HOME_TEAM_ID"] == 1610612759) & (arc_games_copia["HOME_TEAM_WINS"] == 1)]
partidos_ganados_local = partidos_ganados_local.groupby("SEASON")["GAME_ID"].count()
partidos_ganados_local

In [ ]:
partidos_ganados_vis = arc_games_copia.loc[(arc_games_copia["VISITOR_TEAM_ID"] == 1610612759) & (arc_games_copia["HOME_TEAM_WINS"] == 0)]
partidos_ganados_vis = partidos_ganados_vis.groupby("SEASON")["GAME_ID"].count()
partidos_ganados_vis

In [ ]:
df = pd.DataFrame()
df["Temporadas"] =  union_games_gamesdetails["SEASON"].unique()
df.reset_index()
df = df.assign(Pts_x_temporada = pts_x_temp)
df